button#cal {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#ipaddress2, #cidr2{
  padding-left: 10px;
  padding-right: 10px;
}

p,h3 {
  display: inline-block;
}

 body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
  }

footer {
    background-color: #3f3f3f;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }